/* 
    Document   : pf
    Created on : Dec 13, 2012, 12:17:03 PM
    Author     : Wayne F.
    Description: Main CSS for PrimalFlix       
*/

body {
    font-family: "Rambla", sans-serif;
    background: darkslategrey url('img/linen.jpg') no-repeat fixed center;
}

#headerbg {
    background-color: white;
    width: 1000px;
    margin: auto;
}

#mainlogo {
    margin-left: 10px;
}

#dashboard {
    width: 70px;
    background-color: #0099CC;
    padding: 20px 20px 0 20px;
    position: absolute;
    left: -92px;
    z-index: 100;
}

#dashboard img {
    width: 55px;
    height: 55px;
    margin-bottom: 20px;
    border: 0;
}

#leftcolumn {
    background-color:#FFD700;
    height:1000px;
    width:700px;
    float:left;
    text-align: center; 
    margin-left: 0;
    margin-right: 0;
}

#rightcolumn {
    background-color:#EEEEEE;
    height:1000px;
    width:300px;
    float:left;
}

#container {
    width: 1000px;
    margin: auto;    
}

#navigation ul, #navigation li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#navigation a {
	background-color: #0099CC;
	text-decoration: none;
	font-size: 14px;
        text-align: left;
	text-indent: 5px;
	color: white;
}

#navigation a:hover {
	background-color: #555;
	color: white;
}

#navigation ul .stack > a {
	background-position: 97% -21px;
}

#navigation ul .stack > a:hover {
	background-position: 97% -54px;
}

#freeshipping {
    text-align: center;
    padding: 5px;
}

.rambia, div a, p, a { 
    font-size:75%;
}

.under {
    width: 83px; 
    height: 82px;
    position:absolute;
    right:135px;
    top:25px;
    z-index:1;
}

.over {
    position:absolute;
    right:133px;
    top:85px;
    width: 190px;
    background-color: lightgrey;
    font-style: italic;
    padding: 3px;
    z-index: 2;
}

#newscolumn {
    background-color: #FFD700;
    height:1000px;
    width:283px;
    position: absolute;
    right: 135px;
}

h3 b {
    font-size:150%; 
    color:#cd0a0a;
}

.gallery img {
    height: 150px;
    width: 115px;
    display: inline-block;
    margin: 10px;   
}

li a { 
    font-family: "Rambla", sans-serif;
    font-size: 120%;
}

th {
    padding:40px;
}



