/* 
    Document   : pf
    Created on : Dec 13, 2012, 12:17:03 PM
    Author     : Wayne F.
    Description: Main CSS for PrimalFlix
        
*/

body {
    font-family: "Rambla", sans-serif;
}

#container {
    position: static;
    width: 800px; 
    margin: auto;
}

.rambia, div a, p, a { 
    font-size:75%;
}

.rambia2 {
    font-size:125%;
    border: 2px solid;
    border-color: black #444 #888 #ccc;
    background-color:#A9D0F5;
    height:1px;
    padding:0px;   
}

h3 b {
    font-size:150%; 
    color:#cd0a0a;
}

th .title {  
    text-align:center;
    font-size:80%; 
    font-weight:normal;
}       

li a { 
    font-family: "Rambla", sans-serif;
    font-size:120%;
}

table {
    border: 2px solid;
    border-color: black #444 #888 #ccc;
}

th {
    padding:40px;
}

#footer {
    clear: left;
    background: #ccc;
}

#footer p {
    font-size: 65%;
    margin: 0;
}

/* Begin Solid block menu */
.solidblockmenu{
margin: 0;
padding: 0;
float: left;
font: bold 13px Arial;
width: 100%;
overflow: hidden;
margin-bottom: 1em;
border: 1px solid #625e00;
border-width: 0;
background: black url(img/blockdefault.gif) center center repeat-x;
}

.solidblockmenu li{
display: inline;
}

.solidblockmenu li a{
float: left;
color: white;
padding: 9px 11px;
text-decoration: none;

}

.solidblockmenu li a:visited{
color: white;
}

.solidblockmenu li a:hover, .solidblockmenu li .current{
color: white;
background: transparent url(img/blockactive.gif) center center repeat-x;
}

.right {
    float:right;
}

.class {
    position: relative;
}

#submenu { 
    width: 200px;
    border: 1px solid black;
    padding: 10px;
    font-size: 10px;
    background-color:rgb(195,151,51);
    font-style: italic;
    color: rgb(255,255,255);
    position: absolute;
    left: 300px;
    top: 100px;
}
/* End Solid block menu */



