/* 
    Document   : pf
    Created on : Dec 13, 2012, 12:17:03 PM
    Author     : Wayne F.
    Description: Main CSS for PrimalFlix       
*/

body {
    font-family: "Rambla", sans-serif;
    background: #424242 url('img/linen.jpg') no-repeat fixed center;
}

fieldset {
    margin-top: 10px;
}

ul li {
    list-style: none;
    padding: 5px;
}

#jDiv {
    padding: 5px;
    width: 650px;
}

#left img {
    float: left;
    padding: 10px 10px 10px 20px;
    height: 115px;
    width: 90px;
}

#left {
    float: left;
    width: 700px;
}

#right {
    text-align: center;
    float: left;
    width: 300px;
}

#jDiv input {
    float: right;
}

#jSep {
    margin: 2px;
    border: 1px solid;
}

.gallery img {
    height: 150px;
    width: 115px;
    display: inline-block;
    margin: 20px;
    box-shadow: 1px 1px 7px black;
}

#content {
    background-color: white;
    width: 1000px;
    height: 2000px;
    margin: auto;
    box-shadow: 1px 1px 25px black;
}

#loginContent {
    background-color: white;
    width: 1000px;
    margin: auto;
    box-shadow: 1px 1px 25px black;  
}

#mainLogo {
    margin-left: 10px;
}

.qSeparator {
    border-top: 1px solid #111;
    border-bottom: 1px solid;
}

#dashboard {
    width: 70px;
    background-color: #0099CC;
    padding: 20px 20px 0 20px;
    position: absolute;
    left: -92px;
    z-index: 100;
}

#dashboard img {
    width: 55px;
    height: 55px;
    margin-bottom: 20px;
    border: 0;
}

#err {
    color: red;
}

#imgProfile {
    float: left;
}

#imgProfile img {
    height: 140px;
    width: 115px;
    margin: 20px;
    box-shadow: 1px 1px 7px black;
}

#imgDescription {
    float: left;
    width: 500px;
    padding: 0;
    margin: 20px;
}

#regColumn {
    background-color: lightblue;
    height: 180px;
    width: 1000px;
    border-top: 2px solid;
    border-bottom: 2px solid;
}

#leftColumn {
    background-color: white;
    height: 1000px;
    width: 700px;
    float: left;
    text-align: center; 
    margin-left: 0;
    margin-right: 0;
}

#rightColumn {
    background-color: white;
    height: 1000px;
    width: 300px;
    float: left;
}

.rightAds {
    width: 280px;
    height: 280px;
    box-shadow: 1px 1px 7px black;
    margin-bottom: 10px;
}

#mainBanner {
    height: 280px ;   
    width : 700px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 10px;
}

#signBanner {   
    width: 500px;
    height: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 10px;
}

#signBanner a {
    padding-left: 3px;
}

#coin-slider img {
    height: 250px;
    width: 700px;
    margin: auto;
}

#newReleasesArea {
    width: 640px;
    border: none;
    background-color: lightblue;
    padding: 10px;
    margin: auto;
    box-shadow: 1px 1px 7px black;
}

#newReleasesArea span {
    border: 1px solid;
    border-radius: 15px;
    padding: 4px;
}

#under {
    width: 83px; 
    height: 82px;
    position:absolute;
    right: 135px;
    top: 25px;
    z-index: 1;
}

#over {
    position: absolute;
    right: 133px;
    top: 85px;
    width: 190px;
    background-color: lightgrey;
    font-style: italic;
    padding: 3px;
    z-index: 2;
}

#footer {
    background-color: #0099CC;
    color: white;
    text-align: right;
    font-size: 12px;
    font-style: normal;
}

#footer p {
    margin: auto;
    width: 1000px;
}

/* Start of Navigation bar */
#navigation {
    position: relative;
    z-index: 1;
}

#navigation ul, #navigation li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#navigation a {
    background-color: #0099CC;
    text-decoration: none;
    font-size: 14px;
    text-align: left;
    text-indent: 5px;
    color: white;
}

#navigation a:hover {
    background-color: #555;
    color: white;
}

#navigation ul .stack > a {
    background-position: 97% -21px;
}

#navigation ul .stack > a:hover {
    background-position: 97% -54px;
}
/* End of Navigation bar */

